<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=rows%>
    <h2>Movie</h2>
      <table>
        <thead>
          <td>NAME</td>
          <td>REALESE</td>
          <td>GENRE</td>
          <td>Production House</td>
        </thead>

      </table>
  </body>
</html>
