<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Halaman Prod. House </title>
  </head>
  <body>
    <table border="1">
      <td> Nama</td>
      <td> City</td>

      <% rowsProd.forEach(function(list){ %>
      <tr>
        <td> <%= list.name_prodHouse %></td>
        <td> <%= list.origin_city %></td>
      </tr>
      <% })%>
    </table>
  </body>
</html>
