<%-include('./partials/header')%>

<h2>Halaman Prod. House</h2>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
    <%prods.forEach(prod =>{%>
      <tr>
        <td><%=prod.name_prodHouse%></td>
        <td><%=prod.origin_city%></td>
      </tr>
      <%})%>
    </tbody>
  </table>

<%-include('./partials/footer')%>
